<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Data Source=.\MSSQLSERVER2008;Initial Catalog=blog;User ID=DotNetNuke_e;Password=kW6ca!L07M;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>